version: 2.1

##########
# Common
#########
orbs:
  aws-code-deploy: circleci/aws-code-deploy@2.0.0
  terraform: circleci/terraform@2.1.0
  aws-cli: circleci/aws-cli@2.0

############
# Workflows
############

workflows:
  version: 2
  build-deploy:
    jobs:
      - build-ami:
          context: AMI
#      - deploy:
#          requires:
#            - build
#          filters:
#            branches:
#              only: master
#  deploy_infrastructure:
#    jobs:
#      - terraform/fmt:
#          checkout: true
#          context: terraform
#      - terraform/validate:
#          checkout: true
#          context: terraform
#          requires:
#            - terraform/fmt
#      - terraform/plan:
#          checkout: true
#          context: terraform
#          persist-workspace: true
#          requires:
#            - terraform/validate
#      - terraform/apply:
#          attach-workspace: true
#          context: terraform
#          filters:
#            branches:
#              only: master
#          requires:
#            - terraform/plan

#  deploy_application:
#    jobs:
#      - aws-code-deploy/deploy:
#          application-name: myApplication
#          bundle-bucket: myApplicationS3Bucket
#          bundle-key: myS3BucketKey
#          deployment-group: myDeploymentGroup
#          service-role-arn: myDeploymentGroupRoleARN

##################
# Job Definitions
##################
jobs:
  build-ami:
    docker:
      - image: hashicorp/packer:1.3.3
    working_directory: ~/
    steps:
      - checkout
      - attach_workspace:
          at: ~/
      - run:
          name: Build
          command: packer build aws-linux.pkr.hcl
          no_output_timeout: 30m

  build:
    docker:
      - image: circleci/python:3.6.2-stretch-browsers
        environment:
          FLASK_CONFIG: testing
          TEST_DATABASE_URL: postgresql://ubuntu@localhost/circle_test?sslmode=disable
      - image: circleci/postgres:9.6.5-alpine-ram
        environment:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: ''
    steps:
      - checkout
      - run: mkdir test-reports
      - run:
          name: Download Selenium
          command: |
            curl -O http://selenium-release.storage.googleapis.com/3.5/selenium-server-standalone-3.5.3.jar
      - run:
          name: Start Selenium
          command: |
            java -jar selenium-server-standalone-3.5.3.jar -log test-reports/selenium.log
          background: true
      - restore_cache:
          key: deps2-{{ checksum "requirements/dev.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements/dev.txt
      - save_cache:
          key: deps2-{{ checksum "requirements/dev.txt" }}
          paths:
            - 'venv'
      - run:
          command: |
            . venv/bin/activate
            python manage.py test
      - store_artifacts:
          path: test-reports/
          destination: tr1
      - store_test_results:
          path: test-reports/

#  deploy:
#    executor: aws-cli/default
#    steps:
#      - checkout
#      - aws-cli/setup:
#          profile-name: example
#      - run: echo "Run your code here"
